<template>
	<div class="reg">
		<div class="reg-header">
			<router-link to="#"><i class="fa fa-angle-left " aria-hidden="true"></i></router-link>
			注册
		</div>
		<div class="reg-container">
			<fieldset id="">
				<input @keyup="checkname" ref="username" type="text" value="" placeholder="请输入邮箱" class="reg_input email" id="username">
				<input type="text" value="" placeholder="请输入邮箱验证码" class=" reg_input code fl">
				<input @click="getcode" class="fl btn_code" type="button" name="" id="Time" value="获取验证码" />
				<input @keyup="checkpass" ref="username" type="password" value="" placeholder="请输入6位以上密码" class="reg_input  pass">
				<div class="deal">注册即视为同意
					<a class="ymt-deal" href="script">《洋码头用户协议》</a>
				</div>
				<input type="button" value="注册" class="btn-reg">
			</fieldset>
		</div>
	</div>

</template>
<script>
	import Vue from 'vue'
	import $ from 'jquery';
	import axios from 'axios'
	axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded'; //全局更改
	import qs from "qs"; //配合qs模块转化post请求的参数，记得先npm install qs
	//	Vue.prototype.axios = axios;
	//	Vue.prototype.qs = qs;
	export default {
		name: 'Reg',
		components: {},
		data() {
			return {
				us: true,
				pass:true
			}
		},
		mounted() {
			//			this.getcode()
		},
		methods: {
			getcode() {
				if(this.us==false){return console.log('错误')}
				if(this.$refs.username.value!= "" && /^([a-zA-Z0-9]+[_|_|.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|_|.]?)*[a-zA-Z0-9]+\.(?:com|cn)$/.test(this.$refs.username.value)){
					axios({
						method: "post",
						url: "api/api/user/getcode",
						data: qs.stringify({
							email: this.$refs.username.value
						})
					}).then(res => {
						console.log(res.data.msg);
					})
				}
			},

			checkname() {
				if(this.$refs.username.value != '') {
					axios({
						method: "post",
						url: "api/api/user/checkname",
						data: qs.stringify({
							username: this.$refs.username.value
						})
					}).then(res => {
						console.log(res);
						this.us=res.data.err==-1?false:true;
					}).catch((err) => {
						cosole.log(err.data.msg)
					})
				} else {
					console.log('用户名不能为空')
				}
			},
			checkpass(){
				if(this.$refs.pass.value !=''&&this.$refs.username.value!= "" &&/^(?![\d]+$)(?![a-zA-Z]+$)(?![^\da-zA-Z]+$).{6,20}$/.test(this.$refs.pass.value)){
					
				}
			},
			reg() {
				
			}
		}
	}
</script>

<style lang="less" scoped>
	@import '../../styles/main.less';
	body {
		height: 100%;
		.reg {
			background: #f1f1f1;
			.h(667);
			.reg-header {
				.h(44);
				background: #fff;
				.w(374.5);
				.fs(17);
				.lh(44);
				/*border-bottom: solid 1px red;*/
				color: #646464;
				text-align: center;
				position: relative;
				a {
					display: inline-block;
					position: absolute;
					.top(0);
					.left(13);
					.w(30);
					.h(44);
					i {
						color: #ccc;
						.w(20);
						.margin-top(10);
						.h(20);
						.fs(24);
						display: block;
					}
				}
			}
			.reg-container {
				.w(274.5);
				margin: 0 auto;
				.padding-top(20);
				/*border: 1px solid pink;*/
				.reg_input {
					.w(264.5);
					/*.h(40);*/
					.padding(10, 0, 10, 10);
					color: black;
					.fs(14);
					.margin-bottom(10);
				}
				input::-webkit-input-placeholder {
					color: #d7d7d7;
				}
				.code {
					.w(164.5);
				}
				.btn_code {
					.w(100);
					background: #c33;
					.h(36);
					text-align: center;
					color: #fff;
				}
				.btn-reg {
					.margin-top(20);
					width: 100%;
					.fs(16);
					.h(40);
					color: #fff;
					background: #c33;
				}
				.err {
					border: 1px red solid;
					color: red;
				}
				.deal {
					width: 100%;
					.fs(12);
					.h(30);
					.lh(30);
				}
			}
		}
	}
</style>